<!DOCTYPE html>
<html>
  <head>
    <title>ShortUrls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
